body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Navbar */

.navbar {
    height: 65px!important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #c9d1d9;
}

.navbar-inverse .navbar-nav > li > a:hover {
        border-bottom: 3px solid;
        border-bottom-color: #337ab7;
/*        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;*/
        border-bottom-width: 50%;
}

/* TempData */

.notif{
    background-color: #161b22;
        border-bottom: 2px solid;
        border-bottom-color: #337ab7;
        border-radius: 1.5px;
        width: 1395.250;
        align:left;
}

body {
    color: #c9d1d9 !important;
}