
@{
    ViewBag.Title = "Index";
}

<h2>Afisare bookmark-uri</h2>

<h1>@ViewBag.Message</h1>

@foreach (var bookmark in ViewBag.Bookmarks)
{
<div class="panel panel-default">
     @Html.Partial("BookmarkInfo", (ArtX.Models.Bookmark) bookmark, new ViewDataDictionary { { "1", ViewBag.userId }, { "2", ViewBag.b }})

    <div align="center"><a class="btn btn-info" href="/Bookmarks/Show/@bookmark.BookmarkId">Vizualizeaza bookmark-ul</a></div>
    <br />
</div>
}

<a href="/Bookmarks/New">Adauga bookmark</a>
<br />
<a href="/Albums/Index/">Afisare albume</a>
<br />