
@{
    ViewBag.Title = "Afisare Bookmark";
}

<h2>Show</h2>

<h1>@ViewBag.Bookmark.Title</h1>
<p>@ViewBag.Bookmark.Description</p>
<p>@ViewBag.Bookmark.Content</p>
<br />

@*<a href="/Students/Edit/@ViewBag.Bookmark.BookmarkId">    //cand o sa avem si edit
        Modifica
        bookmark
    </a>*@

@*<form method="post"
          action="/Bookmarks/Delete/@ViewBag.Bookmark.BookmarkId">  //cand o sa avem si delete
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button type="submit">Sterge bookmarkul</button>
    </form>*@

<hr />

<a href="/Bookmarks/Edit/@ViewBag.bookmark.BookmarkId">Editeaza bookmark</a>
<br />
<a href="/Bookmarks/Index">Inapoi la lista de bookmarks</a>
