
@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.Message</h1>

<div align="center"><h2>Categories</h2></div>

@*cand adaugam users, aici o sa le afisam doar pe cele cu id ul userului. Momentan le afisam pe toate cele existente*@
@foreach (var album in ViewBag.Albums)
{
<div class="panel panel-default">
    <div class="panel-heading">@album.AlbumTitle</div>

    <br />
    <div align="center"><a href="/Albums/Show/@album.AlbumId" class="btn btn-default glyphicon glyphicon-hand-up"></a></div>
    
    @using (Html.BeginForm(actionName: "Delete", controllerName: "Albums", method: FormMethod.Post, routeValues: new { id = @album.AlbumId }))
    {
         if (ViewBag.userId == album.UserId || ViewBag.b == "da")
         {
             @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-danger pull-right" type="submit"><i class="glyphicon glyphicon-trash"></i> Delete</button>
         }
   }

    @*  <br />
        <a href="/Albums/Edit/@album.AlbumId">Editeaza albumul</a>
        <br />*@
</div>
    <br />
    <br />
}

<br />
<a href="/Albums/New" class="btn btn-default glyphicon glyphicon-plus">AddCategory</a>
<br />