
@{
    ViewBag.Title = "Index";
}


<h2>Afisare albume</h2>

@foreach (var album in ViewBag.Albums)
{
    <div class="panel panel-default">
        <div class="panel-heading">@album.AlbumTitle</div>

        <br />
        <a href="/Albums/Show/@album.AlbumId">Deschide albumul</a>
        @*  <br />
            <a href="/Albums/Edit/@album.AlbumId">Editeaza albumul</a>
            <br />*@
    </div>
    <br />
    <br />
}

<br />
<br />
<a href="/Abums/New">Adauga album</a>
<br />