@model ArtX.Models.Album

@{
    ViewBag.Titlu = "New";
}

<div style="margin-left: 35%;">
    <h2>New category</h2>

    <form method="post" action="/Albums/New">
        @Html.Label("AlbumTitle", "")
        <br />
        @Html.TextBox("AlbumTitle", null, new { @class = "form-control" })
        <br />
        <button class="btn btn-sm btn-success" type="submit">Adauga categoria</button>

    </form>
</div>

    <br />
    <br />
