@model ArtX.Models.Album

@{
    ViewBag.Titlu = "New";
}

<h2>New album</h2>

<form method="post" action="/Albums/New">
    @Html.Label("AlbumTitle", "Titlu album")
    <br />
    @Html.TextBox("AlbumTitle",null, new { @class="form-control"})
    <br />
    <button class="btn btn-sm btn-success" type="submit">Adauga album</button>

</form>

<br />
<br />
