
@{
    ViewBag.Title = "Show";
}

<div class="panel panel-default">
    <div class="panel-heading" align="center"><h2>@ViewBag.Album.AlbumTitle</h2></div>
</div>

<br />
@foreach (ArtX.Models.Bookmark bookmark in ViewBag.Album.Bookmarks)
{

    <div class="panel panel-default">
        @Html.Partial("BookmarkInfo", bookmark)
        <br />

        <div align="center"><a class="btn-info col-xs-pull-5" href="/Bookmarks/Show/@bookmark.BookmarkId">Vizualizeaza bookmark-ul</a></div>
        <br />
        <br />
    </div>

}

@using (Html.BeginForm(actionName: "Delete", controllerName: "Albums", method: FormMethod.Post, routeValues: new { id = @ViewBag.Album.AlbumId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="btn btn-danger pull-right" type="submit">Sterge albumul</button>
}
