
@{
    ViewBag.Title = "MyBookmarks";
}

<h2>SavedBookmarks</h2>

@foreach (var bookmark in ViewBag.myBookmarks)
{
    <div class="panel panel-default">
        @Html.Partial("BookmarkInfo", (ArtX.Models.Bookmark)bookmark, new ViewDataDictionary { { "1", ViewBag.userId }, { "2", ViewBag.b }})

        <div align="center"><a class="btn btn-info" href="/Bookmarks/Show/@bookmark.BookmarkId">Vizualizeaza bookmark-ul</a></div>
        <br />
    </div>
}